<article>
    <header>
        <h2>Новая серия «Мандалорца»: Что это было? Боба Фетт правда вернулся?</h2>
    </header>
    <div class="img">
        <img src="https://avatars.mds.yandex.net/get-kinopoisk-post-img/1101693/8d608e0c612a613719e829511562fd43/960" alt="back" width="550px" height="300px">
    </div>
    <p>
        Мандалорец Дин Джарин (с голосом Педро Паскаля) путешествует по далекой-далекой галактике в поисках других мандалорцев. 
        С их помощью он надеется найти сородичей Малыша и передать его им. Так он попадает в ловушку...
    </p>
    <a routerLink="/app-st4">Читать дальше...</a>
</article>

<article>
    <header>
        <h2>От Queen до уличного рэпа: Фильмы, которые должен посмотреть каждый музыкант</h2>
    </header>
    <div class="img">
        <img src="https://avatars.mds.yandex.net/get-kinopoisk-post-img/1642096/dd5f81fd384ddf8976eb044f7da4379e/960x540" alt="back" width="550px" height="300px">
    </div>
    <p>
        Успех вышедшего в 2018 году байопика рок-группы Queen и ее фронтмена Фредди Меркьюри оказался настолько мощным, что поднял продажи пластинок коллектива 
        во всем мире, в том числе и в США, где британская группа была менее популярна, чем на родине
    </p>
    <a routerLink="/app-st5">Читать дальше...</a>
</article>

<article id="bottom">
    <header>
        <h2>Как устроено время в фильмах Кристофера Нолана</h2>
    </header>
    <div class="img">
        <img src="https://avatars.mds.yandex.net/get-kinopoisk-post-img/1101693/5bc44bf4cea74db3a7366790f7db86e5/960x540" alt="back" width="550px" height="300px">
    </div>
    <p>
        В трейлере «Довода» был эпизод, в котором герой Джона Дэвида Вашингтона испытывает новое оружие. Он стреляет из пистолета, но на самом деле как будто ловит пулю. 
        Ему говорят, что это называется инверсией. Но первым фильмом Нолана, в котором использовалось обратное течение времени, был «Помни».
    </p>
    <a routerLink="/app-st6">Читать дальше...</a>
    <div class="next-page">
        <a class="page"  title="1" href="/app-main1">1</a>
        <a class="page"  title="2" href="/app-main2">2</a>
    </div>
</article>
