<div class="footer-main">
    <div class="footer-1">
        <p>
            Все используемые аудиовизуальные материалы, представленные на данном сайте, являются собственностью их изготовителя (владельца прав) и охраняются международными правовыми конвенциями. 
            Эти материалы предназначены только для ознакомления - для прочих целей Вы должны купить лицензионную запись.
        </p>
    </div>
    <div class="footer-2">
        <div class="footer-2-1">
            <ul>
                <li id="right">
                    <a routerLink="/app-agree">Пользовательское соглашение</a>
                </li>
                <li>
                    <a routerLink="/app-holder">Правообладателям</a>
                </li>
            </ul>
        </div>
        <div class="footer-2-2">
            <h5>
                © 2020 AmongFilms
            </h5>
        </div>
    </div>
</div>