<aside class="left-side">
    <div class="blocks-head">
        <h4 id="rec">РЕКОМЕНДУЕМОЕ</h4>         
    </div>
    <ul class="spec">
        <li>
            <a href="#">1917</a>
        </li>
        <li>
            <a href="#">Аванпост</a>
        </li>
        <li>
            <a href="#">Аватар</a>
        </li>
        <li>
            <a href="#">Бэтмен</a>
        </li>
        <li>
            <a href="#">Банды Нью-Йорка</a>
        </li>
        <li>
            <a href="#">Братья по оружию</a>
        </li>
        <li>
            <a href="#">Во все тяжкие</a>
        </li>
        <li>
            <a href="#">Гравити Фолз</a>
        </li>
        <li>
            <a href="#">Дэдпул</a>
        </li>
        <li>
            <a href="#">Дюнкерк</a>
        </li>
        <li>
            <a href="#">Морской Бой</a>
        </li>
        <li>
            <a href="#">Мир Дикого Запада</a>
        </li>
        <li>
            <a href="#">Доктор Хаус</a>
        </li>
        <li>
            <a href="#">Трон</a>
        </li>
        <li>
            <a href="#">Тор</a>
        </li>
        <li>
            <a href="#">Симпсоны</a>
        </li>
        <li>
            <a href="#">К звёздам</a>
        </li>
        <li>
            <a href="#">Интерстеллар</a>
        </li>
        <li>
            <a href="#">Марсианин</a>
        </li>
        <li>
            <a href="#">Джокер</a>
        </li>
        <li>
            <a href="#">Мандалорец</a>
        </li>
        <li>
            <a href="#">Игра Престолов</a>
        </li>
        <li>
            <a href="#">Южный парк</a>
        </li>
        <li>
            <a href="#">Шерлок</a>
        </li>
        <li>
            <a href="#">Оно</a>
        </li>
        <li>
            <a href="#">Чужой</a>
        </li>
        <li id="bottom">
            <a href="#">Хищник</a>
        </li>
    </ul>
    <address>
        <div class="blocks-head">
            <h5 id="rec">СВЯЗЬ С НАМИ И АНОНСЫ</h5>        
        </div>
        <ul>
            <li class="li-address" id="inst">
                <a href="#">
                    <h3 id="inst-text">#INSTAGRAM</h3>
                </a>
            </li>
            <li class="li-address" id="vk">
                <a href="#">
                    <h3 id="vk-text">VKонтакте</h3>
                </a>
            </li>
            <li class="li-address" id="web">
                <a href="#">
                    <h3 id="web-text">Спросить на сайте</h3>
                </a>
            </li>
        </ul> 
    </address>
</aside>
