<article>
    <header>
        <h2>«Побег из Шоушенка»: Самый лучший фильм</h2>
    </header>
    <div class="img">
        <img src="https://avatars.mds.yandex.net/get-kinopoisk-post-img/1539913/e6dd24cbe07ab6ecd0d31dedd58b870f/960x540" alt="back" width="800px" height="450px">
    </div>
    <p>
        Экранизация рассказа Стивена Кинга Фрэнком Дарабонтом бессменно лидирует в рейтинге КиноПоиска, а на втором месте у нас «Зеленая миля» того же режиссера, 
        у же Стивену Кингу и чуть ли не на ту же тюремную тему. Также «Побег» много лет возглавляет пользовательский рейтинг IMDb. Изредка его на время смещает 
        «Крестный отец», а в спину ему дышит «Крестный отец 2». «Побег из Шоушенка» видели все, но причины настолько масштабного культа этого фильма неочевидны.
    </p>
    <div>
        <h3>
            Благополучный исход
        </h3>
        <p>
            Сама история, рассказанная в «Побеге», довольно незамысловата. Все начинается в 1948 году с суда над банкиром Энди Дюфрейном, которого играет Тим Роббинс. 
            Мы заведомо знаем, что он не убивал свою жену с любовником, а суд заведомо не может ему поверить. Получив два пожизненных, Дюфрейн прибывает в известную своей 
            строгостью тюрьму Шоушенк штата Мэн. Мы видим его глазами второго персонажа — рассказчика по имени Рэд (Морган Фримен), пожилого уже чернокожего заключенного, 
            через которого идет вся тюремная контрабанда. Со временем эти двое сближаются. Энди Дюфрейн, как и все, иногда заказывает у Рэда товар: то постер с актрисой (сначала 
            с Ритой Хэйворт, с годами ее сменяют другие, вплоть до Рэкел Уэлч), то специальный молоточек для художественной работы по камню (хобби).
        </p>
        <div class="img">
            <img src="https://avatars.mds.yandex.net/get-kinopoisk-post-img/1101236/b6e8bd4a8659b31e678ccb5168a15815/960" alt="back" width="700px" height="400px">
        </div>
        <p>
            Дюфрейн, который, несмотря на мягкую внешность, отличается завидным хладнокровием, устраивает свою жизнь: навыки бывшего банкира помогают руководству тюрьмы отмывать
             деньги и уходить от налогов. Со временем он получает большие привилегии, даже отстраивает и возглавляет тюремную библиотеку, а однажды, поссорившись с начальством, 
             сбегает. Через 20 лет отсидки и два с лишним часа экранного времени, когда мы уже почти забыли про вынесенный в заглавие спойлер и крошечный молоточек.
        </p>
        <p>
            Успех фильма вряд ли можно объяснить оригинальностью сюжета. Но на нее накладывается довольно прямолинейный христианский символизм. Мы мало что знаем о 
            психологии Дюфрейна, больше со слов его апостола Рэда, который в конце обретает веру в чудесное спасение своего друга. Собственно, оригинальное название 
            фильма скорее означает не побег, а спасение в духовном смысле, даже искупление.
        </p>
        <div class="img">
            <img src="https://avatars.mds.yandex.net/get-kinopoisk-post-img/1101236/1bc23fb976096a4f09ee3af3b4b608e4/960" alt="back" width="700px" height="400px">
        </div>
        <p>
            Эта трактовка пересекается, конечно, и с мотивами экзистенциализма, которые читаются в удивительной способности протагониста сохранять свободу в четырех стенах 
            и на краю смерти. Герой «Постороннего» Камю, с которым Дюфрейна сравнили дальновидные критики, отказывался от покаяния перед обществом, будучи действительно виновным 
            в убийстве, и обретал внутреннюю свободу в одиночке накануне казни. Герой «Шоушенка» невинен, отчего несправедливая кара ложится на него еще большим бременем, но способен 
            держать себя взаперти, как на воле, и не собирается умирать.
        </p>
        <p>
            Этой способности обучаются избранные, она недоступна для большинства, которое даже на воле не мыслит жизни без шоушенковских стен. Заключенные здесь не только 
            технически не могут бежать, но и оказываются ментальными пленниками. Поэтому убивает себя старейший житель Шоушенка, внезапно помилованный через полвека отсидки. 
        </p>
        <div class="img">
            <img src="https://avatars.mds.yandex.net/get-kinopoisk-post-img/1642096/d733d3b21591a87afb92e70291a2fe98/960" alt="back" width="700px" height="400px">
        </div>
        <p>
            Но именно религиозное толкование — всеобщее спасение, наличие морального ориентира в коррумпированном мире — помимо возможности «круто снять тюрьму», 
            заинтересовало талантливого киноподенщика Фрэнка Дарабонта, который выкупил у Кинга права на экранизацию «Шоушенка» еще в 1987 году. За пять лет до того писатель 
            продал режиссеру-дебютанту права на короткометражку по рассказу «Женщина в комнате» за доллар — его стандартная практика поддержки молодых талантов. По поводу «Шоушенка» 
            Кинг недоумевал: текст казался ему неэкранизируемым. А Дарабонту, наоборот, очень киногеничным. Он усилил упомянутые символические акценты, превратив нескольких сменившихся 
            по книге начальников тюрьмы в одного и добавив историю самоубийцы-старика.
        </p>
    </div>

    <div>
        <h3>
            Сценарий мечты
        </h3>
        <p>
            Текст сценария был написан в 1992-м. До этого Дарабонт годами подвизался на съемочных площадках хорроров. В его послужном списке сценарии к «Кошмару 
            на улице Вязов 3» и «Мухе 2», режиссура нескольких серий «Баек из склепа» и даже работа художника-декоратора на разных проектах категории Б. Затем дела закрутились быстро. 
            Сценарий «Побега» попался на глаза исполнительному продюсеру Castle Rock Studios Лиз Глотцер, которая питала специфическую страсть ко всему тюремному. 
            Она многое сделает для успеха фильма, сочтя сценарий Дарабонта лучшим из виденных ею работ. Позднее то же самое скажет Тим Роббинс.
        </p>
        <div class="img">
            <img src="https://avatars.mds.yandex.net/get-kinopoisk-post-img/1539913/e83d84a776bfea584c62a526115c41af/960" alt="back" width="700px" height="400px">
        </div>
        <p>
            Сперва такой хороший сценарий предложили главе студии Робу Райнеру. Райнер в то время был чуть ли не единственным режиссером, работавшим над адаптациями 
            Кинга всерьез — «Останься со мной» по рассказу «Тело» с молодым Ривером Фениксом и «Мизери», за роль в которой Кэти Бейтс получила «Оскар». В остальных случаях, 
            не считая исключений вроде опытов Кубрика и де Пальмы, экранизации «короля ужасов» проходили по части необязательных развлечений или треша. К тому же сюжет «Побега» 
            не имел отношения к мистике, а значит, имя Кинга могло и не сработать как реклама.
        </p>
        <p>
            Дарабонт, однако, отстоял свое право на режиссуру, несмотря на обещания профинансировать его будущие проекты, несмотря на то что с малоизвестным новичком отказался 
            работать Том Круз, которого звали на главную роль (также отказом ответили Том Хэнкс и Кевин Костнер).
        </p>
        <div class="img">
            <img src="https://avatars.mds.yandex.net/get-kinopoisk-post-img/1642096/f9c841be0a3e2237ccdd32868418b6f6/960" alt="back" width="700px" height="400px">
        </div>
        <p>
            Тим Роббинс был приглашен, когда Дарабонт увидел его игру в «Лестнице Иакова» — провалившейся, но ставшей потом культовой. Роббинс на тот момент уже считался звездой первого класса 
            агодаря роли в «Игроке» Роберта Олтмена. Именно по просьбе Роббинса оператором стал уже имевший солидную репутацию Роджер Дикинс. Он снял фильм в холодных и мрачных тонах, в 
            клаустрофобических пространствах, которые периодически разбиваются контрастными светлыми панорамными кадрами вроде работ на крыше или финала с ослепительно-синим океаном. 
            Этот финал, где Энди и Рэд встречаются на пляже в Зихуатанехо, был добавлен по настоянию Глотцер. Его нет ни у Кинга, ни в сценарии Дарабонта. 
            Режиссер считал такую концовку слишком сентиментальной и согласился снять сцену с условием, что сможет ее вырезать, но после первых тестовых просмотров уступил общему мнению.
        </p>
        <div class="img">
            <img src="https://avatars.mds.yandex.net/get-kinopoisk-post-img/1642096/98e7989a43c7437b5e93ed1ae330c96c/960" alt="back" width="700px" height="400px">
        </div>
    </div>

    <div>
        <h3>
            Верую, ибо абсурдно
        </h3>
        <p>
            Работа команды мечты шла очень трудно. Съемки длились три месяца, работали по 16 часов в день под аккомпанемент споров режиссера с оператором. 
            Дарабонт, возможно, из-за неуверенности дебютанта прогонял каждую сцену дубль за дублем, пока Фриман прямо не послал его к черту. Декорациями была бывшая тюрьма, 
            стены которой давили на съемочную группу, как и на всех героев фильма.
        </p>
        <div class="img">
            <img src="https://avatars.mds.yandex.net/get-kinopoisk-post-img/1642096/ce663031f9a37702d9bd50cd2bc0e899/960" alt="back" width="700px" height="400px">
        </div>
        <p>
            Когда фильм наконец вышел, никакого триумфа не было. Тюремная драма на два с половиной часа да еще с непроизносимым названием — казалось, это не то, чего хотел зритель 
            в 1994-м. В моде были боевики, вышел масштабный, красочный и слезовыжимательный «Форрест Гамп», гремело «Криминальное чтиво». «Шоушенк» немедленно провалился в прокате, 
            собрав почти на 10 миллионов меньше 25-миллионного бюджета.
        </p>
        <p>
            Критика была в основном сдержанно-доброжелательной. Смущал разве что невозмутимый Тим Роббинс, роль которого уподобляли положительным мужским образам сороковых 
            годов, героям Гэри Купера или Джеймса Стюарта (хотя именно это олдскульное обаяние актера незадолго до Дарабонта использовали братья Коэн в «Подручном Хадсакера»).
            Да и все остальное в фильме казалось старомодным: и ритм, и композиция, и мудрый голос рассказчика. Неслучайно Дарабонт вдохновлялся, помимо прочего, золотой классикой 
            идеалистического Голливуда вроде фильмов Фрэнка Капры. Враги — директор тюрьмы и надзиратели — были во всех отношениях отвратительны, а друзья героя положительны, будто
            и не совершали тех преступлений, которые гарантировали им пожизненное. Никто не решился или не смог разгромить фильм, защищенный такой искренней наивностью. 
            Однако совершенно неожиданно для создателей и аудитории «Побег из Шоушенка» получил семь номинаций на «Оскар».
        </p>
        <div class="img">
            <img src="https://avatars.mds.yandex.net/get-kinopoisk-post-img/1539913/d5f1020858c987612a4b797c9fc934d5/960" alt="back" width="700px" height="400px">
        </div>
        <p>
            Не победив ни в одной, фильм оказался замечен. Повторный релиз позволил студии наконец отбить затраты. Но сама по себе оскаровская реклама не объясняет возвращения 
            интереса к картине. Популярность «Шоушенка» росла с каждым годом прежде всего благодаря телепрокату. Компания TNT — базовая кабельная телесеть, выкупившая права на 
            показ фильма у Castle Rock Studious за бесценок — начала показы в 1997-м. Вскоре зрители уже отмечали, что в Америке трудно было включить телевизор, чтобы не увидеть 
            «Побег». К этому надо прибавить рекорды в видеопрокате, продажи VHS и DVD. Главная экранизация Кинга оказалась триумфатором маленьких экранов.
        </p>
        <p>
            Сегодня «Побег из Шоушенка» можно считать первой ласточкой новой теледрамы, идеальным фильмом для стримингов, по иронии судьбы вышедшим сперва на большом экране. 
            Косвенно это подтверждает и недавний успех Дарабонта как создателя «Ходячих мертвецов». То, что могло казаться устаревшим в большом кино 25 лет назад, в домашнем просмотре 
            обрело свои преимущества. Во-первых, фильм идет долго, почти два с половиной часа, и его можно начать смотреть с любого места. Мрачный тон и читаемые метафоры сменяются щемящими 
             просветлений. Самые страшные эпизоды насилия и смерти деликатно вынесены за рамки кадра, в фильме даже не проливается кровь, что позволяет ему оставаться семейной картиной. 
             Некоторая старомодность вызвала благодарное узнавание у зрителей, которые хотели простых и понятных историй, равноудаленных от голливудского визуального аттракциона 
             или инди-экспериментов.
        </p>
        <div class="img">
            <img src="https://avatars.mds.yandex.net/get-kinopoisk-post-img/1642096/36c1bfa8593c06cc4675ae76ee4a7935/960" alt="back" width="700px" height="400px">
        </div>
        <p>
            В самом «Побеге» подчеркивается роль кино как утешения и ментального освобождения: заключенные раз за разом пересматривают «Гильду» с Ритой Хэйворт, постеры с 
            актрисами, от той же Хэйворт до Рэкел Уэлч, украшают серые стены камер. Видимо, то же нужно и зрителю фильма Дарабонта. Соцопросы среди людей разных возрастов показывают 
            трогательное единодушие в отношении Шоушенка. Редко кто зовет его самым любимым фильмом, он один из, и его постоянно пересматривают.
        </p>
        <p>
            Очевидно, Дарабонт нашел волшебную формулу, парадоксально идеальную, как план побега героя фильма. Старомодный черно-белый сюжет с неизбежным хеппи-эндом, незаметная, 
            прозрачная режиссура, схематичный, но не плоский герой, которому легко дорисовать в воображении любые качества, плюс утешительные интонации рассказчика, мудрого друга,
            более несчастного, чем мы.
        </p>
    </div>
</article>