<div class="header">
    <div>
        <ul>
            <li>
                <a routerLink="/app-main1">Главное</a>
            </li>
            <li>
                <a routerLink="/app-serials">Сериалы</a>          
                <ul>
                    <li id="li-inside">
                        <a href="#" id="a-inside">Боевик</a>
                    </li>
                    <li id="li-inside">
                        <a href="#" id="a-inside">Детектив</a>
                    </li>
                    <li id="li-inside">
                        <a href="#" id="a-inside">Драма</a>
                    </li>
                    <li id="li-inside">
                        <a href="#" id="a-inside">Комедия</a>
                    </li>
                    <li id="li-inside">
                        <a href="#" id="a-inside">Триллер</a>
                    </li>
                    <li id="li-inside">
                        <a href="#" id="a-inside">Фентези</a>
                    </li>
                </ul>
            </li>
            <li>
                <a routerLink="/app-film">Фильмы</a>    
                <ul>
                    <li id="li-inside">
                        <a href="#" id="a-inside">Детектив</a>
                    </li>
                    <li id="li-inside">
                        <a href="#" id="a-inside">Комедия</a>
                    </li>
                    <li id="li-inside">
                        <a href="#" id="a-inside">Боевик</a>
                    </li>
                    <li id="li-inside">
                        <a href="#" id="a-inside">Драма</a>
                    </li>
                    <li id="li-inside">
                        <a href="#" id="a-inside">Вестерн</a>
                    </li>
                    <li id="li-inside">
                        <a href="#" id="a-inside">Фентези</a>
                    </li>
                    <li id="li-inside">
                        <a href="#" id="a-inside">Научный</a>
                    </li>
                    <li id="li-inside">
                        <a href="#" id="a-inside">Мьюзикл</a>
                    </li>
                </ul>
            </li>
        </ul>
    </div>
    <div class="search">
        <form>
            <input name="s" placeholder="Искать здесь..." type="search">
            <button type="submit"></button>
        </form>
    </div>
</div>
