<div class="main-news">
    <h1>Новости Кинематографа</h1>
</div>
<article>
    <header>
        <h2>«Назад в будущее» — 35 лет: Почему продолжение трилогии Земекиса невозможно</h2>
    </header>
    <div class="img">
        <img src="https://avatars.mds.yandex.net/get-kinopoisk-post-img/1101236/054b336d667939c3078f8b428b431a27/960x540" alt="back" width="550px" height="300px">
    </div>
    <p>
        Первая часть будущей трилогии о приключениях Марти Макфлая символично вышла после 1984 года, во время новых надежд. Экономический кризис семидесятых закончился, новый президент США Рейган 
        уверенно ведет страну к процветанию, хотя его консервативная политика нравится не всем. Зато на глазах у молодого поколения начинает осуществляться фантастическое будущее.
    </p>
    <a routerLink="/app-st1">Читать дальше...</a>
</article>

<article>
    <header>
        <h2>«Шестое чувство»: Как хоррор стал утешением</h2>
    </header>
    <div class="img">
        <img src="https://avatars.mds.yandex.net/get-kinopoisk-post-img/2423210/6538c35313c266a4fc7cf391c1af2b8f/960x540" alt="back" width="550px" height="300px">
    </div>
    <p>
        Воспоминания актеров о работе над «Шестым чувством» полны историй преодоления. В своем стремлении снять наконец фильм по-своему Шьямалан не щадил никого.
    </p>
    <a routerLink="/app-st2">Читать дальше...</a>
</article>

<article id="bottom">
    <header>
        <h2>«Побег из Шоушенка»: Самый лучший фильм</h2>
    </header>
    <div class="img">
        <img src="https://avatars.mds.yandex.net/get-kinopoisk-post-img/1539913/e6dd24cbe07ab6ecd0d31dedd58b870f/960x540" alt="back" width="550px" height="300px">
    </div>
    <p>
        Cама история, рассказанная в «Побеге», довольно незамысловата. Все начинается в 1948 году с суда над банкиром Энди Дюфрейном, которого играет Тим Роббинс.
        Мы заведомо знаем, что он не убивал свою жену с любовником, а суд заведомо не может ему поверить.
    </p>
    <a routerLink="/app-st3">Читать дальше...</a>
    <div class="next-page">
        <a class="page"  title="1" href="/app-main1">1</a>
        <a class="page"  title="2" href="/app-main2">2</a>
    </div>
</article>
