<article>
    <header>
        <h2>«Назад в будущее» — 35 лет: Почему продолжение трилогии Земекиса невозможно</h2>
    </header>
    <div>
        <div class="img">
            <img src="https://avatars.mds.yandex.net/get-kinopoisk-post-img/2423210/6538c35313c266a4fc7cf391c1af2b8f/960x540" alt="back" width="800px" height="450px">
        </div>
        <p>
            В 1997 году 27-летний М. Найт. Шьямалан совершил акт невероятного расточительства: 
            с риском для семейного бюджета он купил новые ботинки и билет до Лос-Анджелеса, а также забронировал номер в дорогущем Four Seasons.
        </p>
        <p>
            Шьямалан блефовал, изображая перед студийными агентами успешного сценариста, хотя в его портфеле был только проданный Fox сценарий фильма о вдовце, 
            который идет пешком через всю Америку («Труд любви», так до сих пор и не снятый), да история говорящей мыши, купленная Columbia («Стюарт Литтл», который станет 
            хитом только в 1999-м). Два других проекта Шьямалана («Яростная молитва» и изуродованное Харви Вайнштейном «Пробуждение») были сняты им самим, но не сказать, чтобы 
            это были великие фильмы.
        </p>
        <div class="img">
            <img src="https://avatars.mds.yandex.net/get-kinopoisk-post-img/1539913/34f9b7d4a5dce9726949c3b76e121641/960" alt="back" width="700px" height="400px">
        </div>
        <p>
            Так что сидевший в роскошном номере филадельфиец был, по сути, дебютантом, отчаянно мечтающим о прорыве. Стартовую цену за сценарий он назначил в миллион — хватило бы, 
            чтобы выплатить долги за дом. Непременным условием сделки было сохранение режиссерского кресла за Шьямаланом. Он был уверен, что на текст клюнут: нужный эффект должен был 
            произвести радикальный сюжетный поворот в финале.
        </p>
        <p>
            Студии клюнули — и победила Disney, согласившаяся на все условия да еще и повысившая цену сценария до 3 миллионов (посмотрев готовый фильм, продюсеры пожалеют о решении,
             принятом Дэвидом Вогелом, главой производства студии, который к моменту завершения съемок уже уйдет в отставку). Это было двойное везение: «Пробуждение», драмеди о мальчике
             католической школы, который всерьез ищет Бога, уже несколько лет страдало на монтажном столе Miramax, принадлежавшей Disney. Печально известный основатель этой студии Харви 
             Вайнштейн по своему обыкновению бесцеремонно переделывал деликатную историю в слащавое зрительское кино. Новый контракт с Disney позволил отстоять некоторые режиссерские 
             решения в этом фильме, впрочем, так и оставшемся для Шьямалана пробой пера.
        </p>
    </div>

    <div>
        <h3>
            Между Кубриком и Спилбергом
        </h3>
        <div class="img">
            <img src="https://avatars.mds.yandex.net/get-kinopoisk-post-img/1101236/1b29a37c1cf133ca73d9e7a100444b81/960" alt="back" width="700px" height="400px">
        </div>
        <p>
            С детства восхищавшийся Спилбергом (он остался верен своим пристрастиям и в киношколе, где все остальные студенты носились с Годаром), Шьямалан мечтал снимать большие 
            блокбастеры, массовое кино, но оставаться режиссером-автором; его стихией мог бы стать Новый Голливуд. Так и «Шестое чувство» при всей самобытности продолжало линию 
            конформных хорроров 1980-х годов вроде «Полтергейста», где семья и сила любви побеждают зло из другого мира.
        </p>
        <p>
            Другим очевидным референсом было «Сияние» Кубрика. И там, и там есть мальчик-экстрасенс (главный герой «Шестого чувства» Коул — тот же Дэнни Торренс, 
            только уже подросший и настрадавшийся). Юные актеры Хэйли Джоэл Осмент и Миша Бартон запомнили атмосферу гулких залов общественного центра в 
            Филадельфии, где снимал Шьямалан — она очень напомнила им отель «Оверлук». «Сияние» подсказало и подспудную, ощущаемую скорее бессознательно 
            «неправильность» антуража (например, красный цвет у Шьямалана появляется только в момент встречи с призраком). «Чувство» сближает с «Сиянием» и 
            политический подтекст: Коул видит не просто мертвых людей, это жертвы казней, судов Линча, домашнего насилия и катастроф, жертвы американской истории; 
            построенный Кубриком отель на индейском кладбище тоже символизировал американскую цивилизацию, возведенную на костях.
        </p>
        <div class="img">
            <img src="https://avatars.mds.yandex.net/get-kinopoisk-post-img/1539913/5d7bbe032573e62af9d7211089103d3b/960" alt="back" width="700px" height="400px">
        </div>
        <p>
            Только вот никакого зла и ужаса в потустороннем мире у Шьямалана не было: призрачное существование для его персонажей — шанс исправить ошибки, 
            доделать неоконченные дела. «Шестое чувство» должно было стать фильмом-утешителем. Неслучайно в конце концов была удалена прописанная в сценарии 
            сцена, где Коул видит в зеркале искалеченных страшных мертвецов в холле больницы. Важно было выдержать тон, чтобы призраки, несмотря на свою 
            реалистичность, оставались духами, а не живыми трупами.
        </p>
        <p>
            Показательно, что при многих сходствах его сюжетной механики со старыми голливудскими триллерами (от «Ночи охотника» до «Психо») 
            главный аттракцион фильма — знаменитый финальный твист — был позаимствован Шьямаланом из детского телешоу, эпизода «История девушки из снов» 
            сериала «Боишься ли ты темноты?».
        </p>
    </div>

    <div>
        <h3>
            Психодрама 
        </h3>
        <div class="img">
            <img src="https://avatars.mds.yandex.net/get-kinopoisk-post-img/1345014/3080f56cf8161a3c5e9cb805fcd32f8d/960" alt="back" width="700px" height="400px">
        </div>
        <p>
            Воспоминания актеров о работе над «Шестым чувством» полны историй преодоления. В своем стремлении снять наконец фильм по-своему 
            Шьямалан не щадил никого. Например, в сцене появления призраков павильон наполняли ледяным воздухом, чтобы у актеров шел пар изо рта. 
            Также утверждается, что весь фильм снимали в хронологическом порядке. Последняя сцена с Хэйли Джоэлом Осментом была самой изматывающей: 
            Коул рассказывает маме (Тони Коллетт) о своем даре и о призраке умершей бабушки. Обниматься и рыдать актерам пришлось семь дублей кряду.
        </p>
        <p>
            Главным же объектом принуждения стал… Брюс Уиллис. Шьямалан очень хотел видеть актера в главной взрослой роли — психиатра Малкольма Кроу 
            (постер «Крепкого орешка» уже давно висел у него дома). Уиллис же пришел в проект по необходимости: после того как актер сорвал съемки фильма 
            с пророческим названием «Бродвейский скандалист», у Disney возникли к нему некоторые финансовые претензии. Чтобы урегулировать конфликт, Уиллис
             согласился подписать контракт на три фильма, причем с сильно урезанными гонорарами. Первым из них стал «Армагеддон», а вторым — «Шестое чувство». 
             Впрочем, скепсис Уиллиса испарился после знакомства со сценарием, что не помешало звезде по привычке пытаться командовать на площадке. Но Шьямалан 
             спокойно и вежливо дал понять, кто тут главный.
        </p>
        <div class="img">
            <img src="https://avatars.mds.yandex.net/get-kinopoisk-post-img/2423210/f0d6bb7e89b9174f46cd0c396d9034b0/960" alt="back" width="700px" height="400px">
        </div>
        <p>
            На жертвы пришлось пойти и Донни Уолбергу: актер сбросил почти 20 кг для роли несчастного выросшего пациента, который пришел мстить 
            Малкольму за то, что доктор когда-то не поверил в его дар слышать призраков, и так вошел в роль, что перестал мыться. Тони Коллетт снималась 
            в парике — в то время она ходила со стрижкой под ноль, и кастинг с обритой головой режиссер даже не решился продемонстрировать продюсерам. 
            Оливии Уильямс тоже пришлось похудеть для роли жены Малкольма (ведь она играет скорбящую вдову, хотя до самого финального твиста зрители об этом 
            и не догадывались).
        </p>
        <p>
            Главной звездой фильма, впрочем, был не Уиллис, а Осмент. Мальчик, явившийся на пробы в галстуке, знавший наизусть чуть ли не весь сценарий, 
            умел не мигая смотреть в камеру так беззащитно, что сердце самого циничного зрителя готово было разбиться. На эту роль, кстати, пробовался Майкл Сера.
            Сейчас, конечно, трудно представить комика Сера в роли маленького мудреца с грустными глазами.
        </p>
        <div class="img">
            <img src="https://avatars.mds.yandex.net/get-kinopoisk-post-img/1642096/2a599521fd8635d7b9df4c1512f3423c/960" alt="back" width="700px" height="400px">
        </div>
        <p>
            Все актеры ужасно растрогались, прочтя сценарий, и для всех участие в фильме стало своего рода психотерапией. 
            Уиллис и Уильямс поддерживали друг друга после недавних разводов (Уиллис расстался с Мур практически накануне съемок). Коллетт, начавшая работу в 
            «Шестом чувстве» в состоянии, близком к депрессии, благополучно преодолела страх смерти и обрела радость жизни. Маленький Осмент стремительно 
            повзрослел на съемках: мало того что для подготовки к роли ему пришлось смотреть недетское кино (от той же «Ночи охотника» до «Чужих»), 
            он еще и постоянно беседовал с отцом, театральным актером, обсуждая смысл и логику этой драмы. Неудивительно, что после успеха 
            «Шестого чувства» мальчик попал сразу к Спилбергу в «Искусственный разум».
        </p>
    </div>

    <div>
        <h3>
            Приятное чувство
        </h3>
        <div class="img">
            <img src="https://avatars.mds.yandex.net/get-kinopoisk-post-img/1345014/c126bd2a79e68390451948d9bd9edf26/960" alt="back" width="700px" height="400px">
        </div>
        <p>
            Посмотрев готовый материал, студия пришла в недоумение: жанр фильма было сложно определить, соответственно, было неясно, как его продвигать. 
            В итоге Disney передала продюсерские права и возможные риски Spyglass, оставив за собой часть доходов от проката. Фильм выпустили 6 августа 
            без особого промоушена и надежд: лето не лучшее время для фильма без гремящих спецэффектов, снятого практически ноунеймом.
        </p>
        <p>
            Сам Шьямалан рассчитывал, что бокс-офис хотя бы покроет производственные расходы (40 млн долларов). Выйдя в кино, «Шестое чувство» 
            собрало более 300 миллионов, уступив только первому эпизоду «Звездных войн». Более того, фильм стал абсолютным рекордсменом видеопроката. 
            Люди чувствовали потребность пересмотреть эту историю, показать ее друзьям, поделиться впечатлением, понаблюдать реакцию другого на финал. 
            «Шестое чувство» окончательно изменило отношение к спойлерам. Никому не приходило в голову раскрыть интригу и выдать главный секрет картины — секрет, 
            который, как на картинке-головоломке, всегда был перед глазами. В конце концов, интригу простодушно выдавало официальное издание саундтрека 
            Джеймса Ньютона Ховарда, где треки были озаглавлены по ключевым событиям и открытиям фильма.
        </p>
        <div class="img">
            <img src="https://avatars.mds.yandex.net/get-kinopoisk-post-img/1101693/13f9af827dea1edce282be082c7f2bd9/960" alt="back" width="700px" height="400px">
        </div>
        <p>
            Вместе с другим хитом 1999-го, «Ведьмой из Блэр», «Шестое чувство» стало первым в ряду хорроров нового столетия, тех странных фильмов, которые, 
            наплевав на традиции, зависают между жанрами. В начале ХХI века именно авторский синкретический хоррор, совмещенный с мелодрамой, или социальным кино,
             или религиозной или исторической драмой, становится постоянным предметом осуждения критиками и зрителями. «Шестому чувству» наследуют «Другие» 
             Алехандро Аменабара, «Впусти меня» Томаса Альфредсона, «Ведьма» Роберта Эггерса и прочие так называемые слоубернеры и «Прочь» Джордана Пила. Кроме
              мультижанровости, с фильмом Шьямалана их роднит ощущение дереализации. Мир оказывается не тем, чем представлялся, все выворачивается наизнанку; 
              даже в своей личности нельзя оставаться уверенным (Шьямалан развивает эту тему в «Сплите»).
        </p>
        <p>
            Парадоксальным образом эта шаткость и хрупкость экранного мира стали ахиллесовой пятой фильмов Шьямалана. После успеха «Шестого чувства» 
            режиссер получил огромный аванс доверия: его прямо называли новым Спилбергом, студии были готовы финансировать самые рискованные его проекты, 
            а главные тогдашние звезды вроде Мэла Гибсона с радостью снимались у молодого гения.
        </p>
        <div class="img">
            <img src="https://avatars.mds.yandex.net/get-kinopoisk-post-img/1539913/8546efaa8c88e65c00b6156d7fedce27/960" alt="back" width="700px" height="400px">
        </div>
        <p>
            Он и сам поверил в свою гениальность, в то, что нашел идеальную формулу фильма — без фирменного твиста в конце не обходится ни одна из его картин.
             Но опьянение длилось недолго: повтор приема работал уже не так эффектно, критика все громче смеялась над его фильмами («Мистер Шьямалан хочет быть 
             Спилбергом, но ведь даже Спилберг уже не тот», — тонко издевалась легендарная Манола Даргис над «Девушкой из воды»), а «Знаки», ставшие 
             самым кассовым фильмом режиссера после «Шестого чувства», и вовсе обвинили в плагиате.
        </p>
        <p>
            Но проблема Шьямалана не в повторах (популярность франшиз показывает, что зритель вполне рад вновь видеть любимые схемы), а в том, 
            что его ударный прием парадоксальным образом мутировал. Логика его следующих сюжетов немедленно разрушается при вторжении рацио обычного мира. 
            Однако «Чувство» было совсем не таким — оно было логически безупречным! Лишь недавно Шьямалан отчасти воспроизвел эффект своего главного фильма 
            в «Визите». Характерно, что это тоже кино о детях.
        </p>
    </div>
</article>
