<article>
    <header>
        <h2>«Назад в будущее» — 35 лет: Почему продолжение трилогии Земекиса невозможно</h2>
    </header>
    <div>
        <div class="img">
            <img src="https://avatars.mds.yandex.net/get-kinopoisk-post-img/1101236/054b336d667939c3078f8b428b431a27/960x540" alt="back" width="800px" height="450px">
        </div>
        <h3>
            Время утопии
        </h3>
        <p>
            Первая часть будущей трилогии о приключениях Марти Макфлая символично вышла после 1984 года, во время новых надежд. Экономический кризис семидесятых закончился, новый президент США Рейган уверенно ведет страну к процветанию, хотя его консервативная политика нравится не всем. 
            Зато на глазах у молодого поколения начинает осуществляться фантастическое будущее. Персональные компьютеры скоро будут доступными, культура видеоигр уже формируется. 
            Телевидение стало отличным развлечением — на канале MTV показывают причудливые футуристические клипы.
        </p>
        <p>
            Соответственно, околонаучная фантастика снова в моде. Адепты sci-fi, нерды и гики — новые панки десятилетия. Их образ был воспет, например, в молодежных комедиях «Месть придурков» и «Ох уж эта наука!». 
            Но, чтобы тренд окончательно закрепился, потребовались безусловный кинохит и рука мастера.
        </p>
        <div class="img">
            <img src="https://avatars.mds.yandex.net/get-kinopoisk-post-img/1101693/d5ab6e59f10e3c2ce4f709f72c3db05d/960" alt="back" width="700px" height="400px">
        </div>
        <p>
            Главным поп-режиссером середины 1980-х был Стивен Спилберг, уже снявший «Индиану Джонса» и «Инопланетянина». Как и Джордж Лукас, он догадался эксплуатировать «мягкую» научную фантастику, так любимую подростками 
            (в первой половине десятилетия была настоящая волна подросткового сай-фая — «Военные игры», «Последний звездный боец», «Исследователи», «Настоящие гении»).
        </p>
        <p>
            При этом Спилберг был родом из 1970-х, в прагматичной и эскапистской реальности нового десятилетия ему пришлось адаптироваться после кризиса Нового Голливуда. Например, в 1979-м критика довольно холодно приняла его масштабный сатирический фильм «1941» . Над сценарием этой военной комедии работали и два молодых автора — Роберт Земекис и Боб Гейл. А через год не без помощи Спилберга (и тоже без особого успеха) вышли сделанные дуэтом «Подержанные автомобили». Спилберг помог и в продвижении давно задуманного Земекисом и Гейлом проекта о путешествии подростка во времени. От сценария прежде отказалась Disney, которая сочла некоторые моменты сюжета скандальными. 
            Universal была согласна, но просила убрать слово «будущее» из названия фильма. «Надеюсь, это шутка?» — осведомился Спилберг.
        </p>
        <div class="img">
            <img src="https://avatars.mds.yandex.net/get-kinopoisk-post-img/1345014/2248b52f5ad6641b54b54674afe2ff25/960" alt="back" width="700px" height="400px">
        </div>
        <p>
            «Назад в будущее» стал самым кассовым фильмом 1985 года. И очень быстро возник вопрос о продолжении. Последующие два сиквела, отснятые подряд, вышли в 1989-м и 1990-м. Создатели жаловались, что студия плохо рекламировала второй фильм, зрители не понимали, что это часть трилогии. Но со временем все стало на свои места — вокруг фильма появился культ. «Назад в будущее» оказался наряду со «Звездными войнами» и «Индианой Джонсом» в числе первых настоящих кинофраншиз. Формат, столь привычный сейчас, был открыт именно в 
            1980-е (немые европейские киносериалы начала XX века вроде «Жюдекса» или «Вампиров» к этому времени были уже совершенно забыты).
        </p>
    </div>

    <div>      
        <h3>
            Принц на DeLorean
        </h3>
        <div class="img">
            <img src="https://avatars.mds.yandex.net/get-kinopoisk-post-img/2381555/0034c71a7f5e360f9db22fa4760c0ee4/960" alt="back" width="700px" height="400px">
        </div>
        <p>
            Проводником зрителей в будущем (и прошлом) стал семнадцатилетний Марти Макфлай. По выражению Земекиса, вечно удивленный чужак в чужой стране, классический герой приключенческого романа. Одновременно Макфлай был порождением своего времени, плотью от плоти восьмидесятых. 
            В первых версиях сценария герой был более припанкованным, но потом стал хорошим парнем и всеобщим другом, хотя и с горячим нравом. 
            Четыре месяца после начала съемок Макфлая играл Эрик Столц. Если бы фильм вышел с ним в главной роли, возможно, Столц по сей день был бы большой звездой. Либо наоборот — у Земекиса были дурные предчувствия. Столц казался ему слишком «трагическим». 
            Поэтому режиссер принял трудное решение уволить ведущего актера прямо посреди съемок и добиться приглашения Майкла Джея Фокса, который и рассматривался как первый кандидат на роль, но оказался связан контрактом.
        </p>
        <p>
            24-летний Фокс выглядел сильно моложе своих лет. Он был звездой «Семейных уз» — сериала, воспевшего новую эру Рейгана. Его персонаж — юный республиканец, который просвещает родителей, экс-хиппи. Дерзкий, но положительный, смышленый, но не занудный, проблемный, 
            но не лузер — это был, в самом деле, герой для подростков а также их родителей. Макфлай, конечно, не революционер, меняющий ход истории, а скорее конформист; ему надо лишь кое-что поправить, чтоб было как есть, но лучше. 
            Он больше Том Сойер, чем Гекльберри Финн, и печальный вариант его будущего как офисной крысы (вторая часть трилогии) говорит об этом красноречиво.
        </p>
        <div class="img">
            <img src="https://avatars.mds.yandex.net/get-kinopoisk-post-img/1539913/9bb8a1daf6c3b7451864f1ec06078b4c/960" alt="back" width="700px" height="400px">
        </div>
        <p>
            Несколько необычно выглядит дружба подростка Макфлая с «чокнутым профессором» Эмметом Брауном по прозвищу Док. Созданный Кристофером Ллойдом образ эксцентричного гения довольно традиционен и мало привязан к конкретному времени. Поэтому профессор в любой эпохе на своем месте. Ллойд играл своего Дока с оглядкой на Альберта Эйнштейна и дирижера Леопольда Стоковского.
            Кроме того, фигура ученого, приручающего молнию, связана для Америки с рассказами о естествоиспытателе и отце-основателе государства Бенджамине Франклине. Док с помощью громоотвода заряжает машину времени, а Франклин, приманив молнию с помощью воздушного змея, доказал ее электрическую природу. Кстати, Док даже похож на портрет Франклина с 200-долларовой купюры. 
            Важность образа Дока для политического курса США не просто домысел. Именно Эммета Брауна цитировал Рейган, рекламируя свои реформы: «Там, куда мы направимся, нам не нужны дороги».
        </p>
        <p>
            Макфлай, вероятно, подружился с Доком из-за общей любви к машинам. Начиная с 1950-х автомобиль стал практически обязательным сюжетообразующим атрибутом молодежного кино (примеров множество, от «Бунтаря без причины» до «Выходного дня Ферриса Бьюллера»). И что за машина появляется у Марти в фильме? Она почти полноценный третий герой! 
            DeLorean рассекает пространство-время со скоростью молнии; он есть на каждом постере фильмов трилогии и преображается в каждой ее части. А ведь этого протагониста могло бы и не быть. В английском языке нет очевидной игры слов в выражении «машина времени», и вместо DeLorean в первых вариантах сценария фигурировала комната, а затем… холодильник. 
            Но автомобиль оказался идеальным выбором: в первобытном, по выражению Земекиса, образе огненной колесницы воплотилась вся надежда XX века на науку как на новую религию и волшебство.
        </p>
    </div>

    <div>
        <h3>
            Последняя великая эпоха
        </h3>
        <div class="img">
            <img src="https://avatars.mds.yandex.net/get-kinopoisk-post-img/2423210/56a667b155fab0d27b79d8bfa3f179db/960" alt="back" width="700px" height="400px">
        </div>
        <p>
            Напомним в самых общих чертах ход событий трилогии. В начале первого фильма Дока убивают враги Америки, ливийские террористы. 
            На переделанном в машину времени DeLorean Марти перемещается в 1955 год, где вместе с Доком пытается исправить будущее, чтобы в него вернуться. 
            Там же он встречает своих родителей. К разочарованию Марти, его будущий отец — хлюпик, в которого просто невозможно влюбиться. Герой исправляет ситуацию, чтобы отправиться уже 
            в 2015-й, позаботиться о взрослом себе и своих детях. Вечный враг Марти, Бифф Таннен, умудряется переместиться в 1955-й и превратить 1985-й в ад на земле, где он трампоподобный 
            могущественный олигарх. Марти опять оказывается в пятидесятых и действует параллельно событиям первого фильма, 
            стараясь не допустить пространственно-временных парадоксов. Наконец, в третьей части герой отправляется за Доком на Дикий Запад.
        </p>
        <p>
            Выбор 1950-х как главного пространства действия не был случайным. Восьмидесятые обращались к пятидесятым как к последнему времени невинности и благоденствия. 
            Президентом страны был бывший актер, чей пик карьеры пришелся как раз на послевоенное десятилетие. 
            Рейган, очевидно, считал то время золотым веком и делал Америку снова великой по старым лекалам, заодно ностальгически запустив новый виток холодной войны.
        </p>
        <div class="img">
            <img src="https://avatars.mds.yandex.net/get-kinopoisk-post-img/1345014/4cc0d87b59b873545333b8a942ba9709/960" alt="back" width="700px" height="400px">
        </div>
        <p>
            Мода 1980-х копировала пиджаки, рубашки и джеймс-диновские кожаные куртки 1950-х годов. Любимый Марти Хьюи Льюис, Рик Эстли, Duran Duran, даже 
            Мадонна в своих видеоклипах признавались в любви эпохе Элвиса и рокабилли. Режиссеры восьмидесятых вспоминали свою молодость, как Скорсезе («Бешеный бык») или Коппола 
            («Пегги Сью вышла замуж»). Даже молодой Джармуш в «Более странно, чем в раю» и «Таинственном поезде» отдает должное эстетике эпохи, которую застал ребенком.
            А пионером тут был Лукас с его «Американскими граффити», вышедшими еще в начале 1970-х. Да, 1970-е были не только эпохой панка и глэм-рока — с 1974-го на АBC шел 
            популярный ретросериал «Счастливые дни», а завершилось десятилетие «Бриолином» с Траволтой. 
            Эхо этой ностальгии будет звучать вплоть до 1990-х. Помните сцену из «Криминального чтива», где тот же Траволта и Ума Турман отплясывают под Чака Берри в тематическом кафе?
        </p>
        <p>
            Несомненно, Марти Макфлай должен был отправиться на школьный бал именно в пятидесятые годы. Здесь он берет гитару, становится к микрофону и, 
            к всеобщему восторгу, «изобретает» рок-н-ролл. Теперь пятидесятые идеальны!
        </p>
    </div>
</article>
